.createAppCard{
    box-shadow: inset 3px 4px 20px rgba(0, 0, 0, 0.25); 
}

.createAppCardRow1{
    height:10%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.createAppCardRow2{
    display: flex;
    padding:2%;
    min-height:40%;
    overflow-y:hidden;
    overflow-x:scroll;
}
/* .createAppCardRow2::-webkit-scrollbar{
    display: none;
} */

/* .createAppCardRow2::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
}
.createAppCardRow2::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}
.createAppCardRow2::-webkit-scrollbar-thumb {
    background-color: transparent;
  } */

.addCircleButton{
    width:50px;
    height:50px;
    margin:1%;
}

.addCircleButton:hover{
    transition-duration: 0.3s;
    transform: rotate(70deg);
    cursor: pointer;
}

.draggableDiv{
    
}
