.containerDeveloperPage{
    display:flex;
    justify-content: center;
    align-items: center;
    height:89vh;
    background-color: red;
}
.developerPageCard{
    display: flex;
    justify-content: center;
    height:80%;
    width:80%;
    box-shadow: 3px 7px 20px rgba(38, 38, 38, 0.2), -15px -15px 20px rgba(227, 238, 225, 0.3);
}
.developerPageCardBody{
    margin-top:1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.developersCardPara{
    font-size: 1.4vmax;
    margin-top:2%;
}
.myProfilePic{
    height:13vw;
    width:18%;
    box-shadow: 10px 10px 20px rgba(38, 38, 38, 0.2), -15px -15px 20px rgba(227, 238, 225, 0.3);
}
.githubPic{
    height:30px;
    width:30px;
    
}
.linkindnPic{
    height:44px;
    width:44px; 
    
}
.contactImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}

.linkindnPicA{
    width:10%;
    display: flex;
    justify-content: center;
}
.githubPicA{
    width:10%;
    display: flex;
    justify-content: center;
}