.sideBarContainer{
    margin-top:20%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.headerSideBar{
    color:white;
    font-size: 20px;
}
.avatarSideBar{
    height:50px;
    width:50px;
}

.button{
    margin-top:20%;
    width:100%;
    border: 0px;
    color:white;
}

.button:hover{
    background-color: rgb(241, 78, 78);
    color:white;
  animation-name: hoverSideNavButton;
  animation-duration: 0.6s;
}

.linkSideBar{
    width:100%;
}

@keyframes hoverSideNavButton {
    from {background-color: rgba(241, 78, 78,0);}
    to {background-color: rgba(241, 78, 78,1);}
  }

  @media only screen and (max-width: 730px) {
    .button{
        margin-top:10%;
        width:100%;
        border: 0px;
        background-color: rgba(240, 248, 255,0);
        color:white;
    }
  }