.card{
    display: flex;
    justify-content: center;
    height:75%;
    width:70%;
    box-shadow: 3px 7px 20px rgba(38, 38, 38, 0.2), -15px -15px 20px rgba(227, 238, 225, 0.3);
}
.cardBody{
    margin-top:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardTitle{
    font-size:2vmax;
}
.emailTextfield{
    width:100%;
    height:80%;
}
.usernameTextfield{
    width:100%;
    height:80%;
    cursor: not-allowed;;
}
.passwordTextfield{
    width:100%;
    height:80%;
}
.loginButton{
    margin-top:2%;
    width:100%;
    height:60%;
}
.signUpButton{
    width:100%;
    height:60%;
}
.divider{
    margin-top:4%;
    width:90%;
    border:0.5px solid black;
}
.validationTextSignUp{
    font-size: 14px;
    color:red;
}
.validationHolder{
    width:100%;
}

