.card{
    display: flex;
    justify-content: center;
    margin-right:6%;
    height:70%;
    width:60%;
    box-shadow: 3px 7px 20px rgba(38, 38, 38, 0.2), -15px -15px 20px rgba(227, 238, 225, 0.3);
}

.cardBody{
    margin-top:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardTitle{
    font-size:35px;
}

.emailTextfield{
    width:100%;
    height:50px;
}

.usernameTextfield{
    width:100%;
    height:50px;
    cursor: not-allowed;;
}

.passwordTextfield{
    width:100%;
    height:50px;
}

.loginButton{
    width:100%;
    height:50px;
    
}

.signUpButton{
    width:100%;
    height:50px;
}

.divider{
    width:90%;
    border:0.5px solid black;
}