.linkCreateApp{
    background-color:rgb(233, 61, 61);
    height:10%;
    width:30%;
    border: 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:White;
    text-decoration: none;
    font-size: 1.3em;
}
.linkCreateApp:hover{
    background-color:rgb(230, 80, 80);
    color:White;
    text-decoration: none;
}

.getStartedCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.getStartedimage{
    height:35%;
    width: 35%;
}

@media only screen and (max-width: 730px) {
 
    .dashboardCard{
        width:100%;
    }

.linkCreateApp{
    background-color: rgb(233, 61, 61);
    height:20%;
    width:80%;
    border: 0px;
}
.buttonCreateApp{
    background-color: rgb(233, 61, 61);
    height:100%;
    width:100%;
    border: 0px;
}
.getStartedimage{
    height:20%;
    width: 40%;
}

}